.header {
    padding: 20px 0;

    &__navigation {
        display: flex;
        justify-content: space-between;

        &__links {
            display: flex;
            gap: 10px;
        }

        &__logo {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                display: flex;
            }

            svg:hover {
                animation: LogoAnimation 1s;
            }
            
            span {
                font-weight: 600;
                line-height: 90%;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .header__navigation__logo span {
            display: none;
        }
    }
}

@keyframes LogoAnimation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(0deg) scale(1.2);
    }
    80% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(180deg) scale(1); 
    }
}